// h1 header span lato black 46 pkt
// h1 header  lato light 46 pkt

// header p ma lato light 22 pkt

// btn ma lato bold 15 pkt

// clip path ma 40 px z lewej do 0 z prawej


.header {
    background: url("../images/header.png") center center;
    background-size: cover;
    height: 800px;
    text-align: center;

    &-slogan {
        margin: 8rem auto;

    }


    & h1 {

        color: white;
        font-weight: 300;
        font-size: 46px;
        text-transform: uppercase;
        margin-top: auto;
        margin-bottom: auto;
        padding: 1rem 0;
    }

    & h1 span {
        font-weight: 900;
    }

    & p {
        font-weight: 300;
        font-size: 22px;
        padding: 0.3rem 4rem;
        margin: 0 auto;
        color: rgba($white, 0.8);
    }

    &-bottom {
        width: 100%;
        height: 40px;
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 0);
        clip-path: polygon(0 0, 0 100%, 100% 0);
        background-color: $pink;
    }
}