// SASS Setup

// COLORS:
$white: #FFFFFF;
$light: #F4F4F4;
$pink: #ED145B;
$grey: #777777;
$light-dark : #5A5A5A;
$dark : #2b2b2b;

.is-white-bg {
    background-color: white;
}

// FONTS:
$sans-serif: 'Lato';
// font-family: $sans-serif, sans-serif;
/*
hin 100 Italic
light 300
light 300 Italic
regular 400
regular 400 Italic
bold 700
bold 700 Italic
black 900
black 900 Italic
*/

// BOOTSTRAP Edits
.container {
    max-width: 1170px;
}

// IMPORTS
@import 'navbar';
@import 'header';
@import 'components';
@import 'sections';
@import 'rwd';

// GLOBALs

body {
    font-family: $sans-serif, sans-serif;
    background-color: $light;
}

hr {
    border: 1px solid $pink;
    width: 200px;
    margin-top: 2rem;
}

h2 {
    font-weight: 300;
    font-style: italic;
    font-size: 38px;
    line-height: 55px;
    color: $light-dark;
    text-transform: capitalize;
}

p {
    color: $light-dark;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    padding: 1rem 0;
    margin: 1rem 0;
}